.inputContainer {
  position: relative;
  box-sizing: border-box;
}

.passwordInput {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #424351;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 0 10px;
  color: #b1b1b5;
  background-color: #2b2e4c;
  transition: border-color 0.2s linear;
  font-size: inherit;
  text-align: inherit;
}

.passwordInput:focus {
  border-color: #7eb6f7;
}

.passwordInput.error {
  border-color: #ff4747;
}

.iconVisible {
  position: absolute;
  right: 14px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  font-size: 20px;
  cursor: pointer;
}

.iconInvisible {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  font-size: 20px;
  cursor: pointer;
}