.header {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid #434446;
  background-color: #1e1e2f;
}

.header .logo {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

.header .title {
  margin-left: 10px;
  font-size: 25px;
  color: white;

  & .bold {
    font-weight: 600;
  }
}

.header .userContainer {
  margin: 0 20px 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header .userContainer .userImage {
  height: 40px;
  width: 40px;
  margin: auto 20px auto auto;
  justify-self: right;
  fill: #b1b1b5;
}

.header .userContainer .downArrow {
  height: 15px;
  width: 15px;
  justify-self: right;
  fill: #b1b1b5;
}

.header .userContainer .userDropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 150px;
  right: 20px;
  top: 70px;
  padding: 5px 0;
  background-color: #27293d;
  box-shadow: 0px 3px 21px 0px #00000033;
}

.header .userContainer .userDropdown.hidden {
  display: none;
}

.header .userContainer .userDropdown a {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 15px;
}

.header .userContainer .userDropdown a:hover {
  background-color: #1e1e2f;
}

.header .userContainer .userDropdown a .icon {
  height: 20px;
  width: 20px;
  fill: #007bff;
}

.header .userContainer .userDropdown a span {
  user-select: none;
}