@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1e1e2f;
  background-image: url('../../../assets/images/robots.png');
  font-family: 'Roboto', sans-serif;
  color: #b1b1b5;
}

.loginContainer {
  width: 400px;
  height: 300px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #27293d;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.loginContainer .logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginContainer .logo {
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.loginContainer h1 {
  font-size: 20px;
  font-weight: 500;
}

.loginContainer button {
  width: 300px;
  height: 50px;
  margin: 0;
}