@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1e1e2f;
  background-image: url('../../../assets/images/robots.png');
  font-family: 'Montserrat', sans-serif;
  color: #b1b1b5;
}

.contentContainer {
  width: 740px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #27293d;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.contentContainer .infoContainer {
  width: 100%;
  height: 100%;
  padding: 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contentContainer .infoContainer .image {
  display: block;
  height: 300px;
}

.contentContainer .textContainer {
  height: 300px;
  display: flex;
  padding: 20px 0;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 20px;
}

.contentContainer .textContainer span:first-child {
  font-size: 35px;
  margin-bottom: 20px;
}

.contentContainer .textContainer span:last-of-type {
  margin-top: 10px;
}

.contentContainer .textContainer button {
  width: 100%;
  height: 60px;
  margin-top: auto;
  justify-self: flex-end;

  outline: none;
  border: none;
  border-radius: 5px;

  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: #0270ec;
  cursor: pointer;

  transition: background-color 0.1s linear;
}

.contentContainer .textContainer button:hover {
  background-color: #0061cf;
}
