.textInput {
  outline: none;
  border: 1px solid #424351;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 0 10px;
  color: #b1b1b5;
  background-color: #2b2e4c;
  transition: border-color 0.2s linear;
}

.textInput:focus {
  border-color: #7eb6f7;
}

.textInput.error {
  border-color: #ff4747;
}