.usernameForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.usernameForm span {
  font-weight: 400;
  margin-top: 20px;
}

.usernameForm  span:first-of-type {
  margin-top: 0px;
}

.usernameForm  .inputField {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  font-size: 15px;
}

.usernameForm  .errorMessage {
  margin-top: 18px;
  color: #ff4747;
}

.usernameForm button {
  width: 100%;
  height: 40px;
  margin: 40px 0 10px;

  outline: none;
  border: none;
  border-radius: 5px;

  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #0270ec;
  cursor: pointer;

  transition: background-color 0.1s linear;
}

.usernameForm button:hover {
  background-color: #0061cf;
}

.toast {
  font-size: 17px;
  text-align: center;
  color: white;
  background-color: #71c016;
}
