@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Roboto&display=swap');

body, html {
  margin: 0;
  padding: 0;
}

.rootContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1e1e2f;

  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #b1b1b5;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.container .contentContainer {
  flex: 1;
  display: flex;
  margin: 40px;
  box-sizing: border-box;
}