.button {
  width: 100%;
  height: 45px;
  margin: 2px 0;
  padding: 7px 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  color: #8c909a;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  transition: color 0.3s linear;
  box-sizing: border-box;
  border-radius: 7px;
}

.button:hover {
  background-color: #3a3f51;
  color: white;
  fill: white;
}

.button.active {
  background-color: #3a3f51;
  color: #007bff;
}

.button.active:hover {
  color: #007bff;
}

.button .icon {
  padding-right: 10px;
}

.button span {
  user-select: none;
}