@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1e1e2f;
  background-image: url('../../../assets/images/robots.png');
  font-family: 'Roboto', sans-serif;
  color: #b1b1b5;
}

.loginContainer {
  width: 400px;
  height: 300px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #27293d;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.loginContainer .logoContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.loginContainer .logo {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50px;
}

.loginContainer .loadingAnimation {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 35px;
  border-radius: 75px;
  background-color: yellow;
  -webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
  animation: sk-scaleout 1.5s infinite ease-in-out;
}

.loginContainer .loadingAnimation.failed {
  background-color: #ff4747;
  animation: none;
  -webkit-animation: none;
}

.loginContainer h1 {
  position: absolute;
  font-size: 20px;
  font-weight: 500;
  top: 200px;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}