.leftColumnContainer {
  display: flex;
  flex-direction: column;
}

.userPlate {
  width: 600px;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #27293d;
}

.userPlate .userImage {
  width: auto;
  height: 100%;
  fill: #b1b1b5;
}

.userPlate .userInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 14px;
}

.userPlate .userInfo span:first-of-type {
  font-size: 18px;
  font-weight: 600;
}

.userPlate .userInfo span:last-of-type {
  margin-top: 10px;
  font-weight: 600;
  color: #71c016;
}

.plate {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  margin-top: 30px;
  box-sizing: border-box;
  background-color: #27293d;
  font-size: 14px;
}

.plate > span:first-of-type {
  font-weight: 600;
}

.plate form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.plate form span {
  font-weight: 400;
  margin-top: 20px;
}

.plate form span:first-of-type {
  margin-top: 0px;
}

.plate form .inputField {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  font-size: 15px;
}

button {
  width: 100%;
  height: 40px;
  margin: 40px 0 10px;

  outline: none;
  border: none;
  border-radius: 5px;

  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #0270ec;
  cursor: pointer;

  transition: background-color 0.1s linear;
}

button:hover {
  background-color: #0061cf;
}
